@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.marble-background {
  min-height: 100vh;

  background-image: url("/images/marble-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  background-attachment: fixed;
}
